<% @todos.each do|todo| %>
<br>
    <div class= 'text-center card card-body bg-light'>
        <%=todo.description%>
        <br>
        <% if todo.completed == true %>
        <p>Task Completed</p>
        <% elsif todo.completed == false %>
        <p>Task NOT completed yet</p>
        <%end%>
        <%= link_to 'Show', todo %>
        <%= link_to 'Edit', edit_todo_path(todo) %>
    </div>
<%end%>

<p class='text-center'><%= link_to 'Create new To Do', todos_new_path%></p>